:root {
  --main-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Source Sans Pro", sans-serif;
  --main-branding-color: #3e6345;
  --secondary-color: whitesmoke;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.website-container {
  max-width: 1400px;
  margin: 0 auto;
}
.hero {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/kultrun.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  padding: 200px;
  margin: 0px;
}

.hero h1 {
  color: var(--secondary-color);
  line-height: 1.5;
  font-size: 96px;
}

.hero h2 {
  color: var(--secondary-color);
  line-height: 1.5;
  font-size: 68px;
}

.hero p {
  font-size: 32px;
  letter-spacing: 1.5px;
}

.hero a {
  text-align: center;
  display: inline-block;
  background-color: white;
  margin-top: 32px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: var(--main-branding-color);
}

body {
  font-family: var(--main-font-family);
  background-color: var(--main-branding-color);
}

h1,
h2 {
  font-family: var(--secondary-font-family);
  color: var(--main-branding-color);
}

.img-responsive{
    max-width: 100%;
}


main h2 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}

main h3 {
  font-size: 40px;
  color: var(--main-branding-color);
  margin: 0px;
}

.mapu-intro {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  background-color:#3e6345;
  opacity: 0.5;
  color: white;
  padding: 40px;
  border-radius: 4px;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 60px;
}

.grid-3-columns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0px;

}
section {
  background-color: white;
  padding: 100 0px;
  max-width: 100%;
  margin: 0;
}

.section-secondary{
    background-color: gainsboro;

}

.section-secondary h2{
text-align: center;
padding: 20px; 
}

.section-secondary h3{
    text-align: center;
}


.card{
    max-width: 400px;
    box-shadow: var(--box-shadow);
    background-color: white;
    margin: 30px;

}

.card-body{
     padding: 30px;
}


.card-title{
    font-weight: bold;
    font-size: 25px;
}

.card-subtitle{
font-size: 18px;
font-weight: bold;
}

.card-body{
    font-size: smaller;
}


.btn{
  text-align: center;
  display: inline-block;
  background-color: var(--main-branding-color);
  padding: 15px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
  color: white;
  box-shadow: var(--box-shadow);
  width: 150px;
}


.footer-grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/totem.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  grid-gap: 10px;
  row-gap: 20px;
  column-gap: 20px;
  font-size: 12px;
  padding: 50px;
  max-width: 1400px;
}

.footer-title {
  font-weight: bold;
  font-size: larger;
  color: white;
}

.footer-grid p {
  color: white;
}
@media (max-width: 900px) {
  .website-container {
    max-width: 600px;
    margin: 0 auto;
  }
  .hero {
    padding: 60px;
    margin: 0px;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero h2 {
    font-size: 25px;
  }

  .hero p {
    font-size: 18px;
  }

.box-container {
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 0px;
}


main h2 {
  font-size: 14px;
  letter-spacing: 3px;
}

main h3 {
  font-size: 30px;
  color: var(--main-branding-color);
  margin: 0px;
}


.mapu-intro {
  padding: 10px;
  margin: 0px;
}

section{
    margin:0px;
}


  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    row-gap: 20px;
    column-gap: 20px;
    font-size: 12px;
    padding: 10px;
  }

  .footer-title {
    font-weight: bold;
    font-size: 10px;
    color: white;
  }

  .footer-grid p {
    color: white;
    font-size: 10px;
  }
}
